.font-32 {
    font-size: 32px;
}

.font-16 {
    font-size: 16px;
}

.font-14 {
    font-size: 14px;
}

.star {
    color: #ff9900;
}

.star-width {
    width: 14px;
    height: 14px;
}

.line-height {
    line-height: 20px;
}

.link-clr {
    color: #009688;
}

.bl-clr {
    color: #333333;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.row-gap {
    row-gap: 10px;
}

.column-gap {
    column-gap: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}